<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dojo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Post Form</h1>
            <form action="" method="post" class="form-horizontal">
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        error
                    </div>
                {% endfor %}


                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="from-group">
                        {{ field.label_tag }}
                        <div class="col-sm-10">
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>

                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script>

    var dom = document.getElementById('{{ form.user_agent.id_for_label }}');
    dom. value = navigator.userAgent;
</script>